*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

body{
    display: grid;
    grid-template-rows: 1fr ;
    background: var(--Rose50);  
    font-family: 'Outfit';
    color: var(--Stone900);
    padding: 4rem;
    padding-bottom: 2rem;
}

h1,h2{
    padding-bottom: 1.5rem; 
    font-family: 'Young Serif';
    color: var(--Rose800);
}

main{
    display: grid;
    place-items: center;
}

.recipe{
    width: 600px;
    background: var(--White);
    border-radius: 0.7rem;
    overflow: hidden;
    min-width: 21rem;
    padding: 2rem;
}

.dish-image{
    max-width: 100%;
    border-radius: 0.7rem;
    display: block;
}

.intro{
    padding: 1.5rem 0; 
}
.intro h1{
    color: var(--Stone900);
}

.prep-time{
    background: var(--Rose50);
    padding: 1.5rem;
    border-radius: 0.7rem;
    line-height: 1.5rem;
}

.ingredients{
    padding: 1.5rem 0;
    border-bottom: solid 0.1rem var(--Stone150);
}

.instructions{
    padding: 1.5rem 0;
    border-bottom: solid 0.1rem var(--Stone150);
}

.nutrition{
    padding: 1.5rem 0;
}

ul li{
    list-style: disc;
}

/* Footer */
footer {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 2rem;
    padding:  0.5em 0;
    background-color: var(--Stone100);
    color: var(--Brown800);
}
  
/* Footer Links */
footer a {
    color: var(--Rose800);
    text-decoration: none;
}
  